@import "../../blocks/orderHistory/orderHistory.css";

.order-history__main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.order-history__main-content_title {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
