<div class="order-history__view">
    <h1 class="order-history__main-content_title">люлЙлИ лил░л║л░лиЛІ­ЪЦЉ</h1>
    <div class="order-history-view__container">
        {{{orders}}}
    </div>
</div>
