<div class="order-history-view">
    <div class="order-history__main">
        {{{header}}}
        <div class="order-history__main-content">
            <h1 class="order-history__main-content_title">Мои заказы 🥑</h1>
            {{{orders}}}
        </div>
    </div>
</div>

