.basket__basket-product {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.basket-product__price {
    color: #000000;
    font-weight: bold;
    width: 2cm;
}

.basket-product__img-container {
    border-radius: 15px;
    height: 2cm;
    width: 3cm;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.basket-product__info-container {
    display: flex;
    height: 2cm;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
