@import "../../elements/neonButton/NeonButton.css";

.product-list__product-card {
    width: 25%;
    margin-right: 50px;
    margin-top: 20px;

    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .product-list__product-card {
        width: 70%;
        justify-self: center;
    }
}

.product-card__img {
    width: 100%;
    height: 66%;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

.product-card__name {
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 46px;
    font-weight: 600;
}

.product-card__description {
    font-size: 14px;
    color: #575757;
    position: relative;
    left: 10px;
    top: -20px;
}

.product-card-button {
    position: relative;
    width: 60%;
    top: -58px;
    left: calc(40% - 10px);
}
