.order {
    position: fixed;
    top: 70px;
    right: 0;

    height: calc(100% - 70px);
    width: 305px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    background: #F8F8F8;
    border: 1px solid #D6D6D6;

    padding: 20px;
    z-index: 1;
    transition: display 1.5s ease-in-out;
    overflow-y: auto;
}

.order__title {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.checkout-view__order {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    background: #F8F8F8;
    border-left: 1px solid #D6D6D6;

    padding: 20px;
    z-index: 1;

    transition: display 1.5s ease-in-out;
}

.order__footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .checkout-view__order {
        position: unset;
    }
}

@media (max-width: 700px) {
    .order {
        width: 100%;
        height: calc(100% - 140px);
    }
}


.order__total {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    margin-top: auto;
    margin-left: 20px;
}

.order__total-sum {
    margin-right: 20px;
}

.order__buttons {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: space-between;
}
