@import "../imageHref/ImageHref.css";
@import "../PlaceTimeCard/PlaceTimeCard.css";

.order {
    grid-area: order;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content auto min-content min-content;
    grid-template-areas:
        "..........         profile"
        "title              ......."
        "place-time-card    place-time-card"
        "basket             basket"
        "total              total"
        "persons            checkout";
    background: #F8F8F8;

    border-left: 1px solid #D6D6D6;
}

.order__title {
    margin: 10px;
    font-family: Arial, serif;
    font-size: 25px;
    text-align: center;
}

