<div class="restaurants-list">
    <h1 class="restaurant-list__header">Выберите ресторан для редактирования из списка ниже.</h1>
    <div class="restaurants-list__container">
        {{#each RestaurantsList}}
            {{{this}}}
        {{/each}}
    </div>
</div>
