
<div class="main-view">
    <section style="grid-area: header">    {{{header}}}</section>
    <section style="grid-area: actions">   {{{actionBar}}}</section>
    <section style="grid-area: categories">{{{categoryBar}}}</section>
</div>
