
<div class="main-view">
    <section style="grid-area: header">    {{{header}}}    </section>
    <section style="grid-area: actions">   {{{actions}}}   </section>
    <section style="grid-area: categories">{{{categories}}}</section>
</div>
