<button class="neon-button {{classes}}" id="{{id}}">
    <span class="neon-button__line neon-button__line--top"></span>
    <span class="neon-button__line neon-button__line--right"></span>
    <span class="neon-button__line neon-button__line--bottom"></span>
    <span class="neon-button__line neon-button__line--left"></span>
    {{text}}
</button>
