<div class="add-restaurant-point">
    <h1 class="add-restaurant-point__title">Добавить точку к ресторану <br>"{{RestaurantName}}"</h1>
    {{{AddressInput}}}
    {{{RadiusInput}}}
    {{{Submit}}}
</div>
