.header {
    grid-area: header;
    display: flex;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    padding: 0 10px 0 20px;
    align-items: center;
}

@media (max-width: 600px) {
    .header {
        padding: 0 20px;
    }
}

.iconed-header__header {
    flex-grow: 1;
    background-color: white;
}

@media (max-width: 400px) {
    .iconed-header__header {
        justify-content: space-between;
    }
}
