
@import "../../elements/hamburgerButton/hamburgerButton.css";
@import "../../elements/href/href.css";
@import "../searchField/searchField.css";
@import "../../elements/input/input.css";

.header {
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    grid-template-rows: auto;
    width: 100%;
}


