
@import "../../elements/hamburgerButton/HamburgerButton.css";
@import "../../elements/href/Href.css";
@import "../searchField/SearchField.css";
@import "../../elements/input/Input.css";

.header {
    grid-area: header;
    display: flex;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    margin: 0 20px;
    align-items: center;
}

.iconed-header__header {
    flex-grow: 1;
}

@media (max-width: 400px) {
    .iconed-header__header {
        justify-content: space-between;
    }
}
