
@import "../../elements/hamburgerButton/HamburgerButton.css";
@import "../../elements/href/Href.css";
@import "../searchField/SearchField.css";
@import "../../elements/input/Input.css";

.header {
    grid-area: header;

    display: flex;

    box-sizing: border-box;
    height: 100%;
    width: calc(100vw * 10 / 13);
    padding: 20px;
}

@media (max-width: 1024px) {
    .header {
        width: 100vw;
    }
}


