@import "../general/button/button.css";
@import "../general/input/input.css";
@import "../general/title/title.css";
@import "../general/image/image.css";

.profile__form {
    float: bottom;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 0 10px 130px;

    box-shadow: 1px 2px 10px 0px #c5c5c5;
    padding: 12px 20px 20px;
}

.profile__input {
    margin: 10px;
}

.profile__button {
    margin: 10px;
}

.profile__title {
    margin: 10px;
}