<div class="{{classes}}">
    <ul class="basket__list">
        {{#each basketProducts}}
            <li class="basket__list-item">
                {{{this}}}
            </li>
        {{/each}}
    </ul>
</div>
