.order__basket {
    grid-area: basket;
    margin: 10px 0;
    flex-grow: 1;
    overflow: scroll;
}

.basket__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    overflow-y: scroll;
}
