<div class="{{classes}}">
    <div class="basket__scroll-hider">
        <div class="basket__scrolled-area">
            <ul class="basket__list">
                {{#each basketProducts}}
                    <li class="basket__list-item">
                        {{{this}}}
                    </li>
                {{else}}
                    <p>Can't load basket</p>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
