
.corner-profile-href {
    grid-area: profile;
    justify-self: right;
    margin: 10px;
    align-self: end;
}

.corner-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    outline: none;
}
