.category-bar__category {
    width: 100px;
    height: 200px;
    border-radius: 50px;
    background: white;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 0;
    position: relative;
    text-align: center;
    margin-right: 15px;
}

.category-bar__image {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid grey;
    position: absolute;
    top: 15px;
    left: 15px;
}

.category-bar__legend {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}