<button class="category-bar__category">
    <span class="category-bar__image-container">
        <img class="category-bar__image" src="{{src}}" alt="can't load">
    </span>

    <span class="category-bar__legend">{{text}}</span>
</button>
