<div class="{{classes}}">
    <div class="feedback-form__first-line">
        <h3 class="restaurant-feedback__label">Ваш отзыв</h3>
        <div class="feedback-form__rate">⭐&nbsp;{{{RateInput}}}</div>
        {{{SubmitButton}}}
    </div>
    {{{TextInput}}}
</div>
