<div class="{{classes}}">
    <div class="feedback-form__first-line">
        <h3 class="restaurant-feedback__label">Ваш отзыв</h3>
        {{{RateInput}}}
        {{{SubmitButton}}}
    </div>
    {{{TextInput}}}
</div>
