

<div class="{{classes}}">
        <input class="hamburger-button__checkbox" type="checkbox"/>
        <span class="hamburger-button__hamburger-line"></span>
        <span class="hamburger-button__hamburger-line"></span>
        <span class="hamburger-button__hamburger-line"></span>
</div>
