.main-view__restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    margin: 60px 50px 100px 70px;
}
