<div class="add-product-by-restaurant">
    <h3 class="add-product-by-restaurant__title">Add your product 🌭</h3>
    <label class="add-product-by-restaurant__label">Name</label>
    {{{nameInput}}}
    <label class="add-product-by-restaurant__label">Cost</label>
    {{{costInput}}}
    <label class="add-product-by-restaurant__label">Image</label>
    {{{Image}}}
    <label class="add-product-by-restaurant__button" for="add-product-by-restaurant__image-input">
        📸
    </label>
    {{{submitButton}}}
</div>