<div class="base-view">
    <div style="height: 0;">{{#each AddOnes}}{{{this}}}{{/each}}</div>

    {{{Header}}}
    <div class="base-container">
        {{{LeftBar}}}
        {{{Main}}}
    </div>
</div>
