@import "../../blocks/iconedHeader/IconedHeader.css";
@import "../../blocks/wavingMenue/WavingMenue.css";
@import "../../blocks/order/Order.css";

.base-view {
    background: #FFFFFF;
    overflow: hidden;
    box-sizing: content-box;
    width: 100%;
}

.base-view > * {
    min-width: 0;
}

.base-container {
    overflow: scroll;
    padding-top: 10vh;
    height: 90vh;
    box-sizing: content-box;
    width: 100%;
}

@media (max-width: 600px) {
    .base-container {
        height: 80vh;
    }
}

.base-view__header {
    position: fixed;
}

::-webkit-scrollbar {
    display: none;
}
