<div class="base-view">
    {{{Header}}}
    <div class="base-container">
        {{{LeftBar}}}
        {{{Main}}}
    </div>
    <div style="height: 0;">{{#each AddOnes}}{{{this}}}{{/each}}</div>
</div>
