@import "../productCard/ProductCard.css";

.product-card-grid {
    grid-area: products;
    width: 882px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: minmax(203px, auto);
    margin: 0 100px;
}