<div class="{{classes}}">
    <div class="product-card-grid">
        {{#each products}}
            {{{this}}}
        {{else}}
            <p>Can't load categories</p>
        {{/each}}
    </div>
</div>