.profile-view__profile-area {
    grid-area: profile-area;
    height: 92%;
    width: 80%;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 4px 100px #D6D6D6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}

.profile-area__button-array {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.profile-area__button-array > * {
    margin-left: 15px;
}

@media (max-width: 600px) {
    .profile-area__button-array {
        display: none;
    }
}

@media (max-width: 700px) {
    .profile-area__button-array {
        flex-direction: column;
    }

    .profile-area__button-array > * {
        width: 150px;
        margin-bottom: 15px;
    }
}

.profile-area__title {
    font-size: 25px;
}

.profile-area__main-title {
    font-size: 40px;
}

.profile-avatar-area__button {
    font-size: 30px;
    cursor: pointer;
}

.profile-update__logout-btn{
    /*margin: 15px;*/
}
