.admin-restaurant-list__href,
.waving-menue__href {
    color: black;
    line-height: 40px;
    margin-left: 30px;
}

.restaurant-feedback__login-signup-href {
    color: black;
    width: fit-content;
    outline: 0;
    line-height: 36px;
    text-align: center;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    font-family: inherit;
}

.header__logo {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: 30px;
    line-height: inherit;

    margin: 0 20px;
}

.order__checkout {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #F6D471;
    border-radius: 15px 0 0 15px;

    width: fit-content;
    box-sizing: border-box;
    padding: 0 40px 0 10px;

    font-size: 20px;
    color: black;
    line-height: 36px;
    text-decoration: none;

    outline: 0;
    border: 0;
    text-align: left;

    margin: auto -20px 20px 0;
}



.restaurant-view__info,
.restaurant-feedback__back-href {
    background-color: #F6D471;
    color: black;
    outline: 0;
    width: 160px;
    line-height: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s;
}

.add-restaurant__href {
    background-color: #F6D471;
    color: black;
    outline: 0;
    margin: 0 auto;
    width: 220px;
    line-height: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s;
}

.restaurant-view__info:hover,
.restaurant-feedback__back-href:hover {
    box-shadow: 0 0 10px #F6D471;
    background-color: #F6D471;
    color: black;
    width: 165px;
}
