
.restaurant-feedback__login-signup-href {
    color: black;
    width: fit-content;
    outline: 0;
    line-height: 36px;
    text-align: center;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    font-family: inherit;
}

.header__logo {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: 30px;
    line-height: inherit;

    margin: 0 20px;
}

.order__checkout {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #F6D471;
    border-radius: 15px 0 0 15px;

    width: fit-content;
    box-sizing: border-box;
    padding: 0 40px 0 10px;

    font-size: 20px;
    color: black;
    line-height: 36px;
    text-decoration: none;

    outline: 0;
    border: 0;
    text-align: left;

    margin: auto -20px 20px 0;
}

.restaurant-feedback__back-href {
    background-color: #F6D471;
    color: black;

    outline: 0;
    width: 150px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;

    border-radius: 15px;
    margin-right: 30px;
}

.restaurant-view__info {
    background-color: #F6D471;
    color: black;

    outline: 0;
    width: 150px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;

    border-radius: 15px;
    margin-right: 20px;
}
