
.header__logo {
    padding: 10px;
    outline: none;
    text-decoration: none;
    color: black;

    font-family: Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    position: center;
}
