<footer class="pagination_container">
    <ol class="paginate_ol">
        {{#each Hrefs}}
            <li class="paginate_li">
                {{{this}}}
            </li>
        {{/each}}
    </ol>
</footer>
