@import "../../blocks/signupField/SignupField.css";
@import "../../blocks/loginField/LoginField.css";

.login-signup-view {
    display: flex;
    height: 80vh;
    margin-top: 3vh;
    font-size: 20px;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .login-signup-view {
        display: flex;
        flex-direction: column;
        height: 90vh;
        overflow: auto;
    }
}
