@import "../../blocks/signupField/SignupField.css";
@import "../../blocks/loginField/LoginField.css";

.login-signup-view {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content 1fr;

    grid-template-areas:
            "header header"
            "login signup";

    height: 100vh;
    font-size: 20px;
}

@media (max-width: 800px) {
    .login-signup-view {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: auto;
    }
}
