@import "../imageHref/ImageHref.css";
@import "../restaurantPlaceCard/RestaurantPlaceCard.css";

.restaurant-info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: #F8F8F8;
    border-left: 1px solid #D6D6D6;
    height: 100%;
}

.restaurant-info__profile-button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: -25px;
    margin-top: -25px;
}
