<aside class="{{classes}}">
    <div class="restaurant-info__profile-button-container">
        {{{ProfileButton}}}
    </div>

    <h2>О&nbsp;Ресторане</h2>
    {{{RestaurantPosCard}}}
    <div>{{Description}}</div>
</aside>
