<div class="{{classes}}" id="{{id}}">
    <div class="notif-popup__hider"></div>
    <div class="notif-container">
        {{#each Notifs}}
            {{{this}}}
        {{else}}
            Уведомлений нет.
        {{/each}}
    </div>
</div>
