@import "../category/Category.css";

.category-bar {
    height: fit-content;
}

.category-bar__container {
    margin: 0 70px;
}

.category-bar__list {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 600px) {
    .category-bar__container {
        margin: 0;
        width: 100%;
    }
}
