@import "../category/Category.css";

.category-bar {
    grid-area: category-bar;
    height: fit-content;
    /* Скрываем scrollbar */
    margin-bottom: -20px;
    /* Скрываем кнопки */
    margin-top: -30px;
}

.category-bar__list {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
