.category-bar {
    height: fit-content;
}

.category-bar__list {
    margin-left: 80px;
    width: calc(100% - 160px);

    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    scroll-behavior: smooth;

    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 980px) {
    .category-bar__list {
        justify-content: flex-start;
    }
}
