@import "render/views/MainView/MainView.css";
@import "render/views/ProfileView/ProfileView.css";
@import "render/views/LoginSignupView/LoginSignupView.css";
@import "render/views/RestaurantView/RestaurantView.css";
@import "render/views/CheckoutView/CheckoutView.css";
@import "render/views/AddProductByRestaurantView/AddProductByRestaurantView.css";
@import "render/views/OrderHistoryView/OrderHistoryView.css";
@import "render/views/AddRestaurantView/AddRestaurantView.css";
@import "render/views/RestaurantInfoView/RestaurantInfoView.css";
@import "render/views/SupportChatView/SupportChatView.css";
@import "render/views/AdminChatListView/AdminChatListView.css";
@import "render/views/MapView/MapView.css";
@import "render/views/AdminRestaurantListView/AdminRestaurantListView.css";
@import "render/views/BaseView/BaseView.css";


body {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.error {
    color: red;
    font-size: 12px;
}

/** REMOVE INPUT NUMBER CONTROLLERS **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
