@import "../../blocks/profileTextArea/ProfileTextArea.css";
@import "../../blocks/header/Header.css";

.profile-view {
    display: flex;
    height: 80vh;
    /*width: 100%;*/
    /*height: 100%;*/
    justify-content: center;
}
