.order-card__container {
    margin: 30px 30px 30px 30px;
    width: 400px;
    height: 400px;
    position: relative;
    perspective: 1000px;

}

.order-card__title-section, .order-card__product-section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.order-card__title-section {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 15px #2196f3;
    color: #FFFFFF;
}
.order-card__product-section {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #D6D6D6, 0 0 15px #D6D6D6;
    color: black;
    transform: rotateY(180deg);
}
.order-card__container:hover .order-card__title-section {transform: rotateY(180deg);}
.order-card__container:hover .order-card__product-section {transform: rotateY(360deg);}


.order-card__product-section-list {
    width: 100%;
    list-style: none;
}

.order-card__product-section-list_product {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
}

.order-card__title-section_title {
    font-size: 40px;
    margin: 10px 40px 10px 10px;
}

.order-card__title-section_time {
    font-size: 30px;
    margin: 10px 10px 10px 10px;
}

.order-card__title-section_address {
    font-size: 25px;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

.order-card__title-section_status {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.order-card__product-section-list_name {
    width: 100px;
    overflow: hidden;
    margin-right: 110px;
}

.order-card__product-section-list_count {
    color: gray;
    width: 40px;
    margin-right: 50px;
}

.order-card__product-section-list_total {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
}

.separator {
    float: left;
    width: 350px;
    border-top: 1px solid #bbb;
}
