.order-card__container {
    margin-top: 35px;
    width: 300px;
    height: 300px;
    position: relative;
    margin-right: 70px;
    margin-bottom: 35px;
}


@media (max-width: 500px) {
    .order-card__container {
        margin-right: 0;
    }
}

.order-card__title-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.order-card__product-section {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.order-card__title-section {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 15px #2196f3;
    color: #FFFFFF;
}

.order-card__product-section {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #D6D6D6, 0 0 15px #D6D6D6;
    color: black;
    transform: rotateY(180deg);
}

.order-card__container:hover .order-card__title-section {transform: rotateY(180deg);}
.order-card__container:hover .order-card__product-section {transform: rotateY(360deg);}


.order-card__product-section-list {
    width: 100%;
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    overflow: scroll;
}

.order-card__product-section-list_product {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.order-card__title-section_title {
    font-size: 30px;
    margin: 10px;
}

.order-card__title-section_time {
    font-size: 20px;
    margin: 10px;
}

.order-card__title-section_address {
    font-size: 15px;
    margin: 10px;
    overflow: hidden;
}

.order-card__title-section_status {
    font-size: 20px;
    margin: 10px;
}

.order-card__product-section-list_name {}

.order-card__product-section-list_count {
    color: gray;
}

.order-card__product-section-list_total {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.separator {
    width: 250px;
    border-top: 1px solid #bbb;
}

@media (max-width: 600px) {
    .separator {
        width: 100%;
    }

    .order-card__product-section-list_name,
    .order-card__product-section-list_count {
        padding: 0;
    }
}
