@import "../../elements/img/Img.css";

.restaurant-list__restaurant {
    width: 230px;
    height: 150px;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.restaurant__avg-time {
    position: relative;

    top: -22px;
    padding: 5px;

    font-size: 12px;

    border-radius: 0 5px 0 15px;
    background-color: rgba(255, 255, 255, .85);
}

.restaurant__image {
    height: 114px;
    overflow: hidden;
    border-radius: 15px;
}

.restaurant__name {
    position: relative;
    left: -70px;
    font-size: 14px;
}

.restaurant__rate {
    position: relative;
    left: 10px;
    font-size: 11px;
}
