.restaurant-list__restaurant {
    width: 25%;
    min-width: 200px;
    margin-right: 70px;
    margin-bottom: 50px;

    text-decoration: none;
    color: black;
}

@media (max-width: 950px) {
/*@media (max-width: 850px) {*/
    .restaurant-list__restaurant {
        width: 40%;
    }
}

@media (max-width: 600px) {
    /*@media (max-width: 850px) {*/
    .restaurant-list__restaurant {
        justify-self: center;
        min-width: 230px;
    }
}

.restaurant__container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*max-height: 200px;*/
    /*min-height: 150px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    /*border-radius: 15px;*/
    align-items: stretch;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}



.restaurant__avg-time {
    position: relative;

    top: -22px;
    padding: 5px;

    font-size: 12px;

    border-radius: 0 5px 0 15px;
    background-color: rgba(255, 255, 255, .85);
}

.restaurant__image-container {
    width: 100%;
    height: 76%;
    /*height: 66%;*/
    border-radius: 15px 15px 0;
    overflow: hidden;
    object-fit: cover;
}

.restaurant__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    position: relative;
    top: -15px;
}

.restaurant__name {
    margin: 0 10px;
    font-size: 14px;
    line-height: 14px;
}

.restaurant__rate {
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
}
