
.scroll-bar__button {
    border-radius: 100%;
    outline: 0;
    background: #F8F8F8;
    border: 1px solid #d2d0d0;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.5);
    width: 40px;
    height: 40px;
}

.scroll-bar__button:hover {
    background: #F6D471;
}

.category-bar__right-button {
    position: relative;
    top: 120px;
    left: calc(100vw * 10 / 13 - 180px);
    z-index: 1;
}

.action-bar__right-button {
    position: relative;
    top: 100px;
    left: calc(100vw * 10 / 13 - 180px);
}

.category-bar__left-button {
    position: relative;
    top: 120px;
    left: 15px;
    z-index: 1;
    visibility: hidden;
}

.action-bar__left-button {
    position: relative;
    left: 15px;
    top: 100px;
    visibility: hidden;
}

.person-input__minus-button {
    background: #F8F8F8;
    outline: 0;

    border: 1px solid #d2d0d0;
    border-right: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    height: 20px;
}

.person-input__plus-button {
    background: #F8F8F8;
    outline: 0;


    border: 1px solid #d2d0d0;
    border-left: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    height: 20px;
}

.select-time-button__image-button {
    background: #F6D471 url("../../../static/clock.svg") no-repeat;

    height: 37px;
    width: 37px;
    border: 0;
    outline: 0;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.select-time-button__text-button {
    margin-right: 10px;

    background: #F6D471;
    height: 37px;
    border: 0;
    outline: 0;

    font-size: 14px;
    color: white;

    display: flex;
    padding: 1px 6px;

    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/*.profile-text-area__submit {*/
/*    width: 200px;*/
/*    text-align: center;*/
/*    margin: 15px;*/

/*    background: #F8F8F8;*/
/*    box-shadow: 3px 2px black;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    height: 25px;*/
/*    border-radius: 30px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

.profile-text-area__submit-password{
    width: 200px;
    text-align: center;
    margin: 40px 15px 15px;

    background: #F8F8F8;
    box-shadow: 3px 2px black;
    border: 0;
    outline: 0;
    height: 25px;
    border-radius: 30px;

    font-weight: bold;
    cursor: pointer;
}


/*.add-product-by-restaurant__submit {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    background: #F6D471;*/
/*    border-radius: 15px;*/

/*    width: 150px;*/
/*    font-size: 17px;*/
/*    color: black;*/
/*    line-height: 25px;*/
/*    text-decoration: none;*/

/*    outline: 0;*/
/*    border: 0;*/
/*    text-align: center;*/

/*    align-self: start;*/
/*    justify-self: center;*/
/*    cursor: pointer;*/

/*    margin-top: 10px;*/
/*}*/

/*.login-field__submit {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    background: #F6D471;*/
/*    border-radius: 15px;*/

/*    width: 150px;*/
/*    font-size: 17px;*/
/*    color: black;*/
/*    line-height: 25px;*/
/*    text-decoration: none;*/

/*    outline: 0;*/
/*    border: 0;*/
/*    text-align: center;*/

/*    align-self: center;*/
/*    justify-self: center;*/
/*    cursor: pointer;*/

/*    margin-top: 25px;*/
/*}*/

/*.signup-field__submit {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    background: #F6D471;*/
/*    border-radius: 15px;*/

/*    width: 150px;*/
/*    font-size: 17px;*/
/*    color: black;*/
/*    line-height: 25px;*/
/*    text-decoration: none;*/

/*    outline: 0;*/
/*    border: 0;*/
/*    text-align: center;*/

/*    align-self: center;*/
/*    justify-self: center;*/
/*    cursor: pointer;*/

/*    margin-top: 25px;*/
/*}*/

.submit {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F6D471;
    border-radius: 15px;

    width: 150px;
    font-size: 17px;
    color: black;
    line-height: 25px;
    text-decoration: none;

    outline: 0;
    border: 0;
    text-align: center;

    align-self: center;
    justify-self: center;
    cursor: pointer;
}

