.icon-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    .icon-bar {
        width: 100%;
        justify-content: space-evenly;
    }
}

.icon {
    margin-left: 20px;
    z-index: 2;
}

.icon:last-child {
    margin-left: 0;
}
