.icon-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 270px;
}

.iconed-header__icon-bar {
    background: rgba(255, 255, 255, .9);
}

@media (max-width: 600px) {
    .icon-bar {
        width: 100%;
        justify-content: space-evenly;
    }
}

.icon {
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}
