
.actions__container-scroll-hider {
    overflow: hidden;
}

.actions__container {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    padding-bottom: 20px;
    margin-bottom: -20px;
}

.actions__list {
    display: flex;
    list-style-type: none;
}

.actions__li {
    margin-right: 15px;
}

.actions__li:last-child {
    margin-right: 0;
}

.actions__action {
    border-radius: 10%;
}
