@import "../../blocks/restaurantInfo/RestaurantInfo.css";
@import "../../blocks/header/Header.css";
@import "../../blocks/restaurantFeedback/RestaurantFeedback.css";
@import "../../blocks/restaurantFeedbackCard/RestaurantFeedbackCard.css";


.restaurant-info-view {
    overflow-y: scroll;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
}

.restaurant-info-view > * {
    min-width: 0;
}

