@import "../../blocks/restaurantInfo/RestaurantInfo.css";
@import "../../blocks/header/Header.css";
@import "../../blocks/restaurantFeedback/RestaurantFeedback.css";
@import "../../blocks/restaurantFeedbackCard/RestaurantFeedbackCard.css";


.restaurant-info-view {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
}

.restaurant-info-view > * {
    min-width: 0;
}

