.login__input {
    width: 90%;
    padding: 0 5px 0 5px;
    height: 20px;
    margin-top: 5px;
}

.signup__input {
    width: 90%;
    padding: 0 5px 0 5px;
    height: 20px;
    margin-top: 5px;
}

.profile__input {
    width: 90%;
    border: white;
    padding: 0px;
    height: 20px;
    margin-top: 5px;
    font-size: 16px;
}