.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 20px #D6D6D6;
}

@media (max-width: 600px) {
    #map {
        height: 100%;
        width: 100%;
    }
}
