<div class="waving-menue__hider"></div>
<aside class="{{classes}} 'waving-menue'">
    <nav>
        <ul class="waving-menue__list">
            {{#each userHrefs}}
                <li>{{{this}}}</li>
            {{/each}}
        </ul>


        {{#if adminHrefs}}
            <h2 class="waving-menue__header">Администратору:</h2>
            <ul>
                {{#each adminHrefs}}
                    <li>{{{this}}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </nav>
</aside>
