
.chat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 100px #D6D6D6;

    overflow: scroll;
    padding: 0 30px;
}
