@import "../chatItem/chatItem.css";

.chat-list__container {
    width: 100%;
    height: 400px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.chat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    width: 800px;
    grid-area: chat-list-area;
    justify-self: center;
    align-self: center;
    box-shadow: 0 4px 100px #D6D6D6;
    border-radius: 10px;
}
