<div class="{{classes}}">
    <div class="categories__container-scroll-hider">
        <div class="categories__container">
            <ul class="categories__list">
                {{#each categories}}

                    <li class="categories__li">
                        <button class="categories__category">
                            <img class="categories__image" src="{{src}}">
                            <div class="categories__legend">{{text}}</div>
                        </button>

                {{else}}
                    <p>Can't load catogories</p>
                {{/each}}
            </ul>
        </div>
    </div>
</div>