@import "../restaurantСategory/RestaurantCategory.css";

/*.restaurant-category-bar {*/
/*    grid-area: restaurant-category-bar;*/
/*}*/

/*.restaurant-category-bar__container-scroll-hider {*/
/*    overflow: hidden;*/
/*}*/

/*.restaurant-category-bar__container {*/
/*    overflow-x: scroll;*/

/*    padding: 0 20px 20px;*/
/*    margin-bottom: -20px;*/
/*}*/

/*.restaurant-category-bar__list {*/
/*    display: flex;*/
/*    list-style-type: none;*/

/*}*/

.restaurant-category-scroller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    background-color: #FFFFFF;
    height:200px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
}