<div class="{{classes}}">
    <div class="restaurant-category-scroller">
                {{#each categories}}
                        {{{this}}}
                {{else}}
                    <p>Can't load categories</p>
                {{/each}}
    </div>
</div>