.restaurant-categories {
    width: 100%;
}

.restaurant-category-scroller {
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 150px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
    margin: 0 70px;
}

@media (max-width: 600px) {
    .restaurant-category-scroller {
        margin: 0;
    }
}
