.add-restaurant {
    margin: 20px;
    box-shadow: 0 0px 10px #D6D6D6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
}

@media (max-width: 600px) {
    .add-restaurant {
        margin: 20px;
        box-shadow: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: center;
        width: 80%;
    }
}

.add-restaurant__label {
    margin: 5px;
}

.add-restaurant__title {
    font-size: 26px;
}

.add-restaurant__button {
    margin-left: 5px;
    font-size: 40px;
    cursor: pointer;
}
