.add-restaurant {
    width: 60%;
    height: 80%;
    margin: 20px;
    box-shadow: 0 4px 100px #D6D6D6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
}

.add-restaurant__label {
    margin: 5px;
}

.add-restaurant__title {
    font-size: 26px;
}

.add-restaurant__button {
    margin-left: 5px;
    font-size: 40px;
}
