.input {
    outline: none;
    font-size: 18px;
    line-height: 20px;
    background-color: transparent;
    transition: 0.3s;
    border-width: 0;
    font-family: 'Comfortaa', cursive;
}

.header__profile-button {
    width: 30px;
    height: 30px;
    margin: 10px;
    outline: none;
}

.search-field__input-field {
    background: #F8F8F8;
    height: 30px;
    min-width: 85px;
    border-radius: 0 30px 30px 0;
    border: none;
    outline: none;
    vertical-align: middle;
    width: 100%;
}

.search-field__input-button {
    background: #F8F8F8;
    border: none;
    outline: none;
    height: 31px;
    width: 50px;
    min-width: 50px;
    border-radius: 30px 0 0 30px;
}

@media (max-width: 400px){
    .search-field__input-button {
        border-radius: 30px;
    }

    .search-field__input-field {
        display: none;
    }
}

.place-time-card__change-place-button {
    grid-area: change-place-button;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline: none;
}

.place-time-card__change-time-button {
    grid-area: change-time-button;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
}

.person-input__input {
    background: #F8F8F8;
    border: 0;
    border-top: 1px solid #d2d0d0;
    border-bottom: 1px solid #d2d0d0;


    text-align: center;
    width: 30px;
}


.profile-text-area__input {
    width: 80%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    height: 25px;

    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;

    border-radius: 30px;
}


.profile-avatar-area__image-input {
    opacity: 0;
    visibility: hidden;
}

.add-product-by-restaurant__image-input {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.add-restaurant__image-input {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.order-checkout__input {
    width: 90%;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;

    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 25px;
    border-radius: 30px;
}

.add-product-by-restaurant__input {
    width: 90%;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;

    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 25px;
    border-radius: 30px;
}

.message_input {
    width: 100%;
    flex-grow: 1;
    text-align: start;
    margin: 10px;
    padding-left: 10px;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 30px;
    border-radius: 30px;
}

.chat__username {
    width: 750px;
    text-align: start;
    margin: 10px;
    padding-left: 10px;
    font-size: 16px;
    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 30px;
    border-radius: 30px;
}

.add-restaurant__input {
    padding-left: 10px;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: start;

    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 25px;
    border-radius: 30px;
}

#suggest {
    width: 60%;
    text-align: start;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 4px 6px 100px #9E9E9E;
    border: 1px;
    outline: 1px;
    height: 30px;
    border-radius: 30px;
    z-index: 1;
}
