<div class="img-input {{classes}}">
    <input type="file" id="{{id}}" class="img-input__input" name="{{id}}"
           accept="image/*">
    <label for="{{id}}" class="img-input__label" id="img-input__label">
        Изображение:
        <img id="img-input__image" class="img-input__image" src="/static/camera.svg"
             alt="camera image">
        <div id="img-input__error" class="checked-input__error"></div>
    </label>
</div>
