<aside class="{{classes}}">
    <div class="geo-popup__hider"></div>
    <div class="geo-ask-card">
        <h1 class="geo-popup__header">Помогите подобрать рестораны поближе к вам</h1>
        {{{Input}}}
        {{{Submit}}}
    </div>
</aside>
