@import "../action/Action.css";

.action-bar {
    height: fit-content;
    grid-area: action-bar;
    /* Скрываем scrollbar */
    margin-bottom: -20px;
    /* Скрываем кнопки */
    /*margin-top: -20px;*/
}

.action-bar__list {
    display: flex;
    list-style-type: none;

    overflow-x: scroll;
    scroll-behavior: smooth;

    /* standart rewrite*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    /* end standart */
}

.action-bar__li {
    margin-right: 20px;
    height: inherit;
}
