.action-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*overflow-x: hidden;*/
    width: 100%;
    box-sizing: border-box;
    margin-top: -80px;
}

.action-bar__container {
    margin: 0 70px;
}

.action-bar__list {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    align-items: center;
    scroll-behavior: smooth;

    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.action-bar__li {
    --actions-per-bar: 4;
    --action-horis-margin: 35px;
    --k: 21px;
    width: calc((100%
                        - ((2 * var(--actions-per-bar) - 2) *
                            var(--action-horis-margin) +
                            20px - var(--k)))
                                / var(--actions-per-bar));

    border-radius: 15px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px var(--action-horis-margin);
    cursor: pointer;
}

@media (max-width: 1100px) {
    .action-bar__li {
        width: calc((100% -
        ((2 * 3 - 2) *
        35px +
        20px - 21px)) /
        3);
    }
}

@media (max-width: 850px) {
    .action-bar__li {
        width: calc((100% -
        ((2 * 2 - 2) *
        35px +
        20px - 21px)) /
        2);
    }
}

@media (max-width: 600px) {
    .action-bar__li {
        width: calc(((100% -
        ((2 * 1 - 2) *
        35px +
        20px - 21px)) /
        1) * 2 / 3);
    }

    .action-bar__container {
        margin: 0 30px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .action-bar__li {
        width: calc(((100% -
        ((2 * 1 - 2) *
        35px +
        20px - 21px)) /
        1));
    }
}

.action-bar__li:first-child {
    margin-left: 0;
}

.action-bar__li:last-child {
    margin-right: 10px;
}

