@import "../action/Action.css";

.action-bar {
    height: fit-content;
}

.action-bar__list {
    grid-area: action-bar;
    display: flex;
    list-style-type: none;

    overflow-x: scroll;
    scroll-behavior: smooth;

    height: inherit;

    /* standart rewrite*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    /* end standart */
}

.action-bar__li {
    margin-left: 20px;
    height: inherit;
}

.action-bar__li:first-child {
    margin-left: 0;
}
