.restaurant-view__product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 20px 0 200px 70px;
}

@media (max-width: 600px) {
    .restaurant-view__product-list {
        justify-content: center;
    }
}
