<main class="restaurant-view" id="view">
    {{{Banner}}}
    <div class="restaurant-view__info-bar">
        <h2 class="restaurant-view__label">Блюда</h2>
        {{{InfoHref}}}
    </div>
    {{{Products}}}
    {{{Pagination}}}
</main>


