@import "../../blocks/header/Header.css";
@import "../../blocks/order/Order.css";
@import "../../blocks/restaurantBanner/restaurantBanner.css";
@import "../../blocks/restaurantCategories/RestaurantCategories.css";
@import "../../blocks/products/products.css";

.restaurant-view {
    height: 100vh;
    display: grid;
    grid-template-columns: 10fr 3fr;
    grid-template-areas:
        "main order";
}

.main-content {
    height: 90vh;
    overflow: scroll;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "restaurant-banner"
        "restaurant-category"
        "products"
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
            "header"
            "main-content";
}