<div class="restaurantBanner">
    <div class="restaurantBanner__img-container">
<!--        <img class="restaurantBanner__img" src="{{imgHref}}">-->
        <img class="restaurantBanner__img" src="/static/restaurants/BagelStory.jpg"
             alt="restaurant-banner">
    </div>
    <div class="restaurantBanner__info">
        <span class="restaurantBanner__name">
            {{name}}
        </span>
        <span class="restaurantBanner__rate"> ⭐{{rate}}</span>
    </div>
</div>
