.restaurant-banner {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}




.restaurantBanner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: none;

}

.restaurantBanner__info {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    width: fit-content;
    top: -50px;
    height: 52px;
    background: #F8F8F8;
    border-radius: 0 15px;
}

.restaurantBanner__name {
    padding: 15px 15px 5px 15px;
}

.restaurantBanner__rate {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 5px;
}
