<div class="restaurant-banner">
    <img class="restaurantBanner__img" src="{{imgHref}}">
    <div class="restaurantBanner__info">
        <span class="restaurantBanner__name">
            {{name}}
        </span>
        <span
                class="restaurantBanner__rate">{{rate}}
        </span>
    </div>
</div>
