<div class="restaurantBanner">
    <div class="restaurantBanner__img-container">
        <img class="restaurantBanner__img" src="{{imgHref}}">
    </div>
    <div class="restaurantBanner__info">
        <span class="restaurantBanner__name">
            {{name}}
        </span>
        <span class="restaurantBanner__rate"> ⭐{{rate}}</span>
    </div>
</div>
