@import "../../elements/input/Input.css";

.header__search-field {
    flex-grow: 1;
    display: flex;
    height: inherit;
}

@media (max-width: 600px) {
    .header__search-field {
        display: none;
    }
}
