@import "../header/Header.css";
@import "../iconBar/IconBar.css";

.iconed-header {
    grid-area: header;
    display: flex;
}

@media (max-width: 470px) {
    .iconed-header {
        flex-wrap: wrap;
        justify-content: center;
    }
}
