<main class="restaurants-list-view" id="view">
    <h1 class="restaurants-list__header">Список ресторанов</h1>
    {{{AddRest}}}
    <div id="message" class="message restaurant-list-view__message">{{message}}</div>
    {{#each RestaurantsList}}
        {{{this}}}
    {{/each}}
</main>
