.checkout-view {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .checkout-view {
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
    }
}

