.checkout-view {
    display: grid;
    grid-template-rows:
            min-content
            auto;
    grid-template-columns: 5fr 5fr 3fr;
    /*grid-template-areas:*/
    /*    "header             header              order"*/
    /*    "action-bar         action-bar          order"*/
    /*    "label              select-time-button  order"*/
    /*    "category-bar       category-bar        order"*/
    /*    "restaurant-list    restaurant-list     order";*/

    grid-template-areas:
            "header             header          order"
            "order-checkout     order-checkout  order";

    background: #FFFFFF;
}