.add-restaurant-view {
    grid-area: view;

    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
}

@media (max-width: 700px) {
    .add-restaurant-view {
        height: 80vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
