.order-confirmation {
    width: 80%;
    height: 80%;
    padding: 20px;
    box-shadow: 0px 4px 100px #D6D6D6;
    grid-area: order-confirmation;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.order-checkout__label {
    font-size: 18px;
}

.order-checkout__confirm-paper {
    display: flex;
    width: 80%;
    height: 60%;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.order-checkout__title {
    font-size: 27px;
    font-weight: bold;
    margin: 10px;
}