.order-confirmation {
    max-width: 600px;
    height: fit-content;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 100px #D6D6D6;
    grid-area: order-confirmation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .order-confirmation {
        box-shadow: none;
    }
}

.order-checkout__label {
    font-size: 18px;
}

.order-checkout__title {
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
