@import "../restaurantBanner/restaurantBanner.css";
@import "../../elements/href/Href.css";
@import "../feedbackForm/FeedbackForm.css";
@import "../restaurantFeedbackCard/RestaurantFeedbackCard.css";


.restaurant-info__feedback {
    display: flex;
    flex-direction: column;
}

.restaurant-feedback__middle-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    align-items: center;
}
