.point {
    width: 10px;
    height: 10px;
    z-index: 3;
    pointer-events: none;
}

.basket-point {
    position: fixed;
    top: 21px;
    right: 137px;
    display: none;
}

.notif-point {
    position: fixed;
    top: 21px;
    right: 200px;
    display: none;
}

@media (max-width: 700px) {
    .basket-point {
        top: unset;
        bottom: 40px;
        right: calc(50% + -18px);
    }

    .notif-point {
        top: unset;
        bottom: 40px;
        right: calc(50% + 75px);
    }
}
