<div class="{{classes}}">
    <div>Already with us?</div>
    <div class="login-field__title">Login</div>
    <label for="login-field__email-input">Email or phone:</label>
    {{{identifierInput}}}
    <label for="login-field__password-input">Password:</label>
    {{{passwordInput}}}
    {{{submitButton}}}
</div>
