.login-field {
    height: fit-content;
    box-shadow: 0 0 10px #D6D6D6;
    border-radius: 15px;
}

.login-signup__login {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media (max-width: 800px) {
    .login-signup__login {
        margin-top: 230px;
    }
}

@media (max-width: 600px) {
    .login-signup__login {
        margin-top: 400px;
    }
}


.login-field__title {
    font-size: 30px;
    font-weight: bold;
    margin: 40px;
}

