@import "../errorBlock/ErrorBlock.css";

.login-signup__login {
    width: 300px;
    height: 500px;
    grid-area: login;
    background: #FFFFFF;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 100px #D6D6D6;
}

.login-signup__login:hover {
    width: 300px;
    height: 500px;
    grid-area: login;
    background: #FFFFFF;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 100px #D6D6D6, 0px 8px 100px #D6D6D6;
}


.login-field__title {
    font-size: 30px;
    font-weight: bold;
    margin: 40px;
}
